{% extends 'base.html' %}
{% block title %}RRS - About {% endblock title %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block body %}
<img src="static/about.jpg" alt="" height="500px" width="100%">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to RoomRent Services</h1>
      <p class="lead">We are the fastest growing company in  the online real estate space. Born out of the need to simplify the search for a Room,free<br> of fake listings and endless site visits, we created a unique property search plateform that filled the gaps left by others in the<br>market. Led by passionate problem-solvers, and backed by top investors from around tha country, we are poised to became the <br>most trusted place to find your room in india. </p>
    </div>
</div><div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Our vision</h1>
      <p class="lead">delivering trustworthy experiences that you cherish for a life-Time.</p>
    </div>
</div>
<!-- Cards -->
<div class="container-fluid border">
    <div class="row strech-between">
        <div class="col-sm-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="static/about1.jpg" class="card-img-top rectangle" alt="Ritesh">
                <div class="card-body dsrs">
                    <h5 class="card-title">Ritesh Kumar Singh</h5>
                    <p class="card-text">Technocrate Institute of Technology <br><b>Computer Science</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="static/about2.jpg" class="card-img-top rectangle" alt="Prakash">
                <div class="card-body dsrs">
                    <h5 class="card-title">Prakash Ranjan Mishra</h5>
                    <p class="card-text">Lakshmi Narain College of Technology <br><b>Computer Science</b></p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="static/about3.jpg" class="card-img-top rectangle" alt="Vishal">
                <div class="card-body dsrs">
                    <h5 class="card-title">Vishal Kumar</h5>
                    <p class="card-text">Technocrate Institute of Technology <br><b>Computer Science</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Our Mission</h1>
      <p class="lead">To be the first choice for our consumers and partners in their journey of discovering , room renting ,their services and adding <br>and taking a room. we do that with data, design, technology,and above all the passion of our people,while delivering value to our<br>shareholders.</p>
    </div>
</div>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Term And condition</h1>
      <p class="lead">.</p>
    </div>
  </div>

{% endblock body %}
