{% extends 'base.html' %} 
{% block title %}Room Rent And Services {% endblock title %} 
{% block homeactive %}active{% endblock homeactive %} 
{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="https://source.unsplash.com/1280x400/?renter"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://source.unsplash.com/1280x400/?flats"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="https://source.unsplash.com/1280x400/?rooms"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="centered" style="position: absolute; text-align: center; top: 30%; left: 50%; transform: translate(-50%, -50%); color:white; font-size: 60px;"><b>WELCOME</b> <br><b>RoomRentAndServices.com</b> </div>
 <div class=
 "centered" style="position: absolute;text-align: center; top: 10%; left: 13%;transform: translate(-50%, -50%);">
 {% if user.is_authenticated %}
  <!-- Example single danger button -->
<div class="btn-group">
<button type="button" class="btn btn-danger dropdown-toggle mx-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{{request.user}}
</button>
<div class="dropdown-menu">
<a class="dropdown-item" href="/logout">Log Out</a>
</div>
</div>
  
  </span>
  {% else %}
  <button type="button" class="btn btn-danger mx-2" data-toggle="modal" data-target="#signUpModal">
    Sign Up
  </button>
  <button type="button" class="btn btn-danger mx-2" data-toggle="modal" data-target="#logInModal">
    Log In
  </button>
{% endif %}

 <!-- Example single danger button -->
 {% if user.is_authenticated %}
<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    List your property
   </button>
       <div class="dropdown-menu">
      <!-- Button to launch LYF modal -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#lyf" style="margin-left: 20px;">
    List Your Rooms
  </button>
      <a class="dropdown-item" href="#">List Hostel Rooms</a>
      <a class="dropdown-item" href="#">List your Services</a>
    </div>
  </div>
  {% else %}
  {% endif%}
  </div>
  <div class=
 "centered" style="position: absolute;text-align: center; top: 70%; right:28%;transform: translate(-50%, -50%); ">
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
  </form></div>
</div>

</div>
</div>

<div class="jumbotron my-4">
  <h1 class="display-4"><b>Welcome</b></h1>
  <p class="lead">Room Rent And Services.com</p>
  <hr class="my-4">
  <p>This is a very trustworthy  Site.</p>
  {% if user.is_authenticated %}
  <!-- Example single danger button -->
<div class="btn-group">
<button type="button" class="btn btn-danger dropdown-toggle mx-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{{request.user}}
</button>
<div class="dropdown-menu">
<a class="dropdown-item" href="/logout">Log Out</a>
</div>
</div>
  
  </span>
  {% else %}
  <button type="button" class="btn btn-outline-danger mx-2" data-toggle="modal" data-target="#signUpModal">
    Sign Up
  </button>
  <button type="button" class="btn btn-outline-danger mx-2" data-toggle="modal" data-target="#logInModal">
    Log In
  </button>
  {% endif %}
  <!-- Upload button -->
  {% if user.is_authenticated %}
<div class="btn-group">
    <button type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      List Your Property
    </button>
    <div class="dropdown-menu">
      <!-- Button to launch LYF modal -->
<button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#lyf" style="margin-left: 20px;">
    List Your Rooms
  </button>
  
      <a class="dropdown-item" href="#">List Hostel Rooms</a>
      <a class="dropdown-item" href="#">List Your Services</a>
    </div>
  </div>
  {% else %}
  {% endif %}
</div>

<!-- Cards -->
<div class="container-fluid border my-4">
  <h1>Our Services</h1>
  <div class="row strech-between">
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/flats.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">Rooms and Flats </h5>
                  <p class="card-text">Find Best Flats and Rooms in your locality within your budget. It's saves your lot of time .</p>
                  <a href="#" class="btn btn-primary">See Flats</a>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/hostel.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">Hostels/Pg</h5>
                  <p class="card-text">Find Best Hostels in your locality 
                      and near your college within your budget. It's saves your lot of time </p>
                  <a href="#" class="btn btn-primary">See Hostels</a>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/Koala.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">Other Services</h5>
                  <p class="card-text">Find other services like wifi-vendor , water suppliers , Electrician, plumbers, etc.</p>
                  <a href="#" class="btn btn-primary">See Services</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Cards -->
<div class="container-fluid border my-4">
  <h1>Flats And Rooms</h1>
  <div class="row strech-between">
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/flats.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">Rooms and Flats 3-Bhk</h5>
                  <p class="card-text"> Find Best Flats and Rooms in your locality within your budget. It's saves your lot of time .</p>
                  <a href="#" class="btn btn-primary">See Flats</a>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/hostel.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">Rooms and Flats 2-Bhk</h5>
                  <p class="card-text">Find Best Flats and Rooms in your locality within your budget. It's saves your lot of time. </p>
                  <a href="#" class="btn btn-primary">See Flats</a>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/Koala.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">Other's Rooms </h5>
                  <p class="card-text">Find Best Flats and Rooms in your locality within your budget. It's saves your lot of time.</p>
                  <a href="#" class="btn btn-primary">See Services</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Cards -->
<div class="container-fluid border my-4">
  <h1>Hostels/pg</h1>
  <div class="row strech-between">
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/flats.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">One-And 2-seater room's</h5>
                  <p class="card-text">Find Best Hostels in your locality 
                    and near your college within your budget. It's saves your lot of time.</p>
                  <a href="#" class="btn btn-primary">See Hostels</a>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/hostel.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">3-Seater And 6-Seater Room's</h5>
                  <p class="card-text">Find Best Hostels in your locality 
                      and near your college within your budget. It's saves your lot of time. </p>
                  <a href="#" class="btn btn-primary">See Hostels</a>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/Koala.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">Other Room's And Pg</h5>
                  <p class="card-text">Find Best Hostels in your locality 
                    and near your college within your budget. It's saves your lot of time.</p>
                  <a href="#" class="btn btn-primary">See Services</a>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Cards -->
<div class="container-fluid border my-4">
  <h1>Other Services</h1>
  <div class="row strech-between">
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/flats.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">Wifi And Electrician</h5>
                  <p class="card-text">Find other services like wifi-vendor , water suppliers , Electrician, plumbers, etc.</p>
                  <a href="#" class="btn btn-primary">See Details Service</a>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/hostel.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">Water supply And Vender's</h5>
                  <p class="card-text">Find other services like wifi-vendor , water suppliers , Electrician, plumbers, etc. </p>
                  <a href="#" class="btn btn-primary">See Details Service</a>
              </div>
          </div>
      </div>
      <div class="col-sm-12 col-md-4">
          <div class="card" style="width: 18rem;">
              <img src="img/Koala.jpg" class="card-img-top rectangle" alt="...">
              <div class="card-body dsrs">
                  <h5 class="card-title">plumber's And Mechanic</h5>
                  <p class="card-text">Find other services like wifi-vendor , water suppliers , Electrician, plumbers, etc.</p>
                  <a href="#" class="btn btn-primary">See Details Services</a>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock body %}
